button {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem 2rem !important;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  background-color: $light-green;
  color: $primary-color;

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}

button.outline {
  border: 1px solid $primary-color;
  background-color: $secondary-color;
  color: $primary-color;

  &:hover {
    background-color: $light-green;
  }
}
