.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background-color: $primary-color;
  padding-bottom: 130px;
  gap: 20px;

  &-title {
    color: $light-green;
    font-size: 58px;
  }

  &-paragraph {
    color: $light-white;
    max-width: 900px;
  }

  button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
  }

  button.outlined-button {
    background-color: transparent !important;
    color: $light-green;
    border: 2px solid $light-green;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  button.outlined-button:hover {
    background-color: $light-green !important;
    color: $primary-color;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
