@font-face {
  font-family: "Candal";
  src: url("../assets/fonts/Candal/Candal-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("../assets/fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
