@import "./fonts";
@import "./variables";
@import "../layouts/Layouts.scss";
@import "../pages/pages.scss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $font-family;
  background-color: $secondary-color;
  color: $primary-color;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin: 0;
  font-family: $font-family-headings;
}

h2 {
  font-size: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem 2rem !important;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  background-color: $light-green;
  color: $primary-color;

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}

button.outline {
  border: 1px solid $primary-color;
  background-color: $secondary-color;
  color: $primary-color;

  &:hover {
    background-color: $light-green;
  }
}
