//colors
$primary-color: #173300;
$secondary-color: #fff;
$light-background: #edefea;
$light-white: #c5d9b3;
$light-green: #9fe870;
$accent-color: #2e481a;

//fonts
$font-family: "Inter";
$font-family-headings: "Candal";
